*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* parte de configuração dos tamanhos e cores, etc */
.container_header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.div_header{
    width: 80%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.container_geral{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.div_dashboard_geral{
    width: 80%;
    height: 500px;
    background-color: blue;
    border-radius: 10px;
    border: 2px solid #000;
}

.container_fotter{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0 ;
}

.div_futter{
    width: 80%;
    height: 30px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}
/* fim da parte de configuração dos tamanhos e cores, etc */


/* itens da header */
.div_logo1 img{
    height: 70px;
}

.div_links{
    height: 75px;
    display: flex;
    gap: 30px;
}

.div_links a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

/* a:hover{
    border-bottom: 3px solid black;
    transition-duration: 1s;
} */
/* fim dos itens da header */


/* itens da dashboard geral */
.titulo_filtro{
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 3% 0 1% 0;
}

.item_primeira_div{
    width: 20%;
    height: 53px;
    display: flex;
    justify-content: center;
    background-color: yellow;
}

/* .menuHamburguer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    border-radius: 10px;
} */

.item_primeira_div p{
    font-size: 14%;
    font-weight: 600;
    font-size: 30%;

}

.dashs1{
    display: flex;
    justify-content: center;
    gap: 2%;
}

.dashboard_geral1{
    width: 45%;
    height: 200px;
    background-color: green;
}

.alerta_notes{
    width: 45%;
    height: 20px;
    background-color: green;
}

.dashs2{
    display: flex;
    justify-content: center;
    gap: 2%;
}

.dash_bola{
    width: 22%;
    height: 20px;
    background-color: brown;
}

.legendas{
    width: 21%;
    height: 20px;
    background-color: brown;
}

.dash_barra_de_lado{    
    width: 45%;
    height: 20px;
    background-color: brown;
}
/* fim dos itens da dashboard geral */


/* itens da futter */
.div_contato1{
    width: 20%;
    height: 20px;
    background-color: yellow;
}

.div_contato2{
    width: 20%;
    height: 20px;
    background-color: yellow;
}

.div_logo2{
    width: 20%;
    height: 20px;
    background-color: yellow;
}
/* fim dos itens da futter */