.container_header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.div_header{
    width: 80%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.div_logo1 img{
    height: 70px;
}

.div_links{
    height: 75px;
    display: flex;
    gap: 30px;
}

.div_links a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

/* Footer */
