* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial;
}


#ConteudoSite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.containerSalas {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80vh;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.titulo-menuFiltros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    border-radius: 10px;
}

.titulo {
    font-size: 30px;
    font-weight: bold;

}


#menuHamburguer {
    width: 28px;
}

.miniContainerSalas {
    display: flex;
    width: 90%;
    height: 20%;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.salas {
    display: flex;
    width: 30%;
    height: 95%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.infoHW {
    padding: 10px;
    min-width: 80%;
    max-width: 80%;
    height: 100%;
}


.divAlertas {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    align-items: center;

}

.tipoAlerta{
    width: 100%;
    height: 50%;
}

.divVazia p{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 40%;
}
.addSala {
    display: flex;
    align-items: center;
    width: 90%;
    height: 10%;
    border-radius: 10px;
}

#iconeDeMais {
    width: 45px;
}

.mensagem {
    font-size: 20px;
    font-weight: bold;
}