#ConteudoSite {
    padding: 80px 0px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/gradiente_inicio.png);
    /* border-bottom: 1px solid #0F3324;
    border-top: 1px solid  #0F3324; */
}

.containerSalas {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 70%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(3px);
    
}

.titulo-menuFiltros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.titulo {
    font-size: 30px;
    font-weight: bold;
    

}


#menuHamburguer {
    width: 28px;
}

.miniContainerSalas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    max-height: 60vh;
    overflow-y: auto;
}

.salas {
    padding: 3px;
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 20vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 14px;
}


.salas:hover{
    padding: 3px;
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 20vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.24);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
}


.nome-infoHard{
    height: 100%;
    width: 75%;
}
.nomeSala{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.salas a{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.nomeSala{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.infoSala{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    margin-top: 5px;
}

.divAlertas {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    align-items: center;

}

.tipoAlerta{
    width: 100%;
    height: 50%;
}

.divVazia p{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 40%;
}
.addSala {
    display: flex;
    align-items: center;
    width: 90%;
    height: 10%;
    border-radius: 10px;
}

.divDentroAddSala{
    display: flex;
    width: 23%;
    align-items: center;
    border-radius: 10px;
}

.divDentroAddSala a{
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.divDentroAddSala a:hover{
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    background-color: #009c0d21;
}
#iconeDeMais {
    width: 45px;
}

.mensagem {
    font-size: 20px;
    font-weight: bold;
}

/* MODAL */
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 70%;
    border: 1px solid black;
    border-radius: 10px;
}

.conteudoModal{
width: 80%;
height: 100%;
}

.tituloModal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    height: 10%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 100%;
}

.conteudoForm{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

.conteudoForm input{
    width: 100%;
    height: 30px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #0F3324;
}

.nomeDaSala{
    font-weight: bold           ;
}

.divButtonAddSala{
    display: flex;
    justify-content: space-evenly;
}

.divButtonAddSala button{
    font-weight: bold;
}



.buttonAddSala{
    width: 45%;
    background-color: #109a68;
}

.buttonCancelarAddSala{
    width: 45%;
    background-color: rgb(216, 216, 216);
}